
.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.title {
    display: block;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff;
    font-size: 3rem;
}
.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #111469;
    width: 9rem;
}
h1.title {
    margin: 3rem 0;
}
a.btn {
    margin: 3rem auto;
}