body {
    background: #111;
    margin: 0;
}
.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #111469;
    width: 9rem;
    margin: 3rem auto;
    font-family: 'Noto Sans JP' sans-serif;
}
.btn:hover {
    background-color: #292b6b;
}
.back {
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Sans JP' sans-serif;
    font-weight: 100;
    color: rgb(171, 200, 223);
}
.back:hover {
    color: #593ab0;
}
.stc {
    font-family: 'Noto Sans JP' sans-serif;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
}
video {
    width: 30vw;
    margin: 0 auto;
}